{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Cuisine atlas</title>
    <link rel="shortcut icon" href="../../../media/temporary-logo.jpg" type="image/x-icon">
</head>

<main>
    <header>
        <div class="header-display">
            <nav class="navbar navbar-expand-md navbar-light nav justify-content-end">
                <div class="logo-container">
                    <img src="../../../media/temporary-logo.jpg" alt="ac-logo" class="logo-image">
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse nav justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'recipes:home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'recipes:recipes_list_unsigned_users' %}">Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#projects-section">About</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <body>
        <div class="row">
            <div class="row basic-recipe-info-section text-center">
                <div class="col-xl-1 d-none d-lg-block">
                </div>
            
                <div class="col-xl-6 col-lg-10 col-md-10 col-sm-10 col-10">
                    <img src="{{ object.pic.url }}" class="img-fluid detailed-page-image" alt="recipe-image" />
                </div>
            
                <div class="col-xl-4 col-lg-10 col-md-10 col-sm-10 col-10">
                    <div class="row text-center">
                        <div class="col-12">
                            <h1 class="detailed-recipe-titles">{{ object.recipe_name }}</h1>
                            <br>
                        </div>
                    </div>
                    <!-- On lg and smaller screens, use col-6 to split into two columns -->
                    <div class="row text-center recipe-icon-centered">
                        <div class="col-xl-10 col-lg-6 col-md-6 col-sm-10 col-10">
                            <div class="recipe-icon-text">
                                <img src="../../../media/flag-icon.png" class="detailed-page-icon" alt="flag-icon"><span>{{ object.origin_country }}</span>
                            </div>
                            <div class="recipe-icon-text">
                                <img src="../../../media/category-icon.png" class="detailed-page-icon"
                                    alt="category-icon"><span>{{ object.recipe_category }}</span>
                            </div>
                            <div class="recipe-icon-text">
                                <img src="../../../media/cooking-time-icon.png" class="detailed-page-icon"
                                    alt="cooking-time-icon"><span>{{ object.cooking_time }} min</span>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-6 col-md-6 col-sm-10 col-10">
                            <div class="recipe-icon-text">
                                <img src="../../../media/difficulty-icon.png" class="detailed-page-icon" alt="difficulty-icon"><span>{{ object.difficulty }}</span>
                            </div>
                            <div class="recipe-icon-text">
                                <img src="../../../media/number-portion-icon.png" class="detailed-page-icon" alt="number-portion-icon"><span>{{ object.number_of_portions }} portions</span>
                            </div>
                            <div class="recipe-icon-text">
                                <img src="../../../media/dollar-icon.png" class="detailed-page-icon" alt="dollar-icon"><span>{{ object.recipe_estimated_cost }}</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <h4>Share recipe <img src="../../../media/share-icon.png" class="detailed-page-share-icon" alt="share-icon"></h4>
                        </div>
                    </div>
                </div>
            
                <div class="col-xl-1 d-none d-lg-block">
                </div>
            </div>
            
        </div>            
        </body>

        <footer>

        </footer>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
        <script src="{% static 'recipes/js/javascript.js' %}"></script>
</main>

</html>