{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/style.css' %}">
    <script src="{% static 'recipes/js/user-submit-recipe.js' %}" defer></script>
    <title>Document</title>
</head>

<body>
    <h1>Submit a recipe</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="ingredients-formset-container">
            <div class="formset">
                {{ formset.management_form }}
                {% for form in formset %}
                <div class="formset">
                    {{ form.id }}
                    <label for="id_ingredient_name">Ingrdedient</label>
                    {{ form.ingredient_name }}
                    <label for="id_quantity">Quantity</label>
                    {{ form.quantity }}
                    <label for="id_measurement_unit">Measurement unit</label>
                    {{ form.unit_of_measurement }}
                    <label for="id_substitute">Substitute</label>
                    {{ form.possible_substitute }}
                    <label for="id_substitute_special_note">Substitute special note</label>
                    {{ form.substitue_special_note }}
                </div>
                {% endfor %}
            </div>
        </div>
        <button type="button" id="add-form" class="btn btn-secondary">Add Ingredient</button>
        <br>
        <div id="allergens-formset-container">
            <div class="allergen_formset">
                {{ allergens_formset.management_form }}
                {% for form in allergens_formset %}
                <div class="allergen_formset">
                    {{ form.id }}
                    <label for="id_allergen">Allergen</label>
                    {{ form.allergen }}
                </div>
                {% endfor %}
            </div>
        </div>
        <button type="button" id="allergen-form" class="btn btn-secondary">Add allergen</button>
        <div id="cooking-instructions-formset-container">
            <div class="cooking_instructions_formset">
                {{ cooking_instructions_formset.management_form }}
                {% for form in cooking_instructions_formset %}
                <div class="cooking_instructions_formset">
                    {{ form.id }}
                    <label for="id_step_name">Step</label>
                    {{ form.step_name }}
                    <label for="id_step_instruction">Instruction</label>
                    {{ form.step_instruction }}
                </div>
                {% endfor %}
            </div>
        </div>
        <button type="button" id="cooking-instructions-form" class="btn btn-secondary">Add step</button>
        <div id="recipe-tools-formset-container">
            <div class="recipe_tools_formset">
                {{ recipe_tools_formset.management_form }}
                {% for form in recipe_tools_formset %}
                <div class="recipe_tools_formset">
                    {{ form.id }}
                    <label for="id_step_name">Cooking tool (ex: measure cup)</label>
                    {{ form.cooking_tool_name }}
                </div>
                {% endfor %}
            </div>
        </div>
        <button type="button" id="recipe-tools-form" class="btn btn-secondary">Add tool</button>
        <div id="recipe-similar-complementary-formset-container">
            <div class="recipe_similar_complementary_formset">
                {{ recipe_similar_complementary_formset.management_form }}
                {% for form in recipe_similar_complementary_formset %}
                <div class="recipe_similar_complementary_formset">
                    {{ form.id }}
                    <label for="id_step_name">Similar/complementary recipe name</label>
                    {{ form.complementary_recipe_name }}
                    <label for="id_step_name">Similar/complementary url</label>
                    {{ form.complementary_recipe_link_unsigned_users }}
                </div>
                {% endfor %}
            </div>
        </div>
        <button type="button" id="recipe-similar-complementary-form" class="btn btn-secondary">Add similar recipe</button>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>