/* CSS for the welcome page */

.header-display {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}

@media (max-width: 325px) {
    .header-display {
        font-size: 13px;
    }
}

@media (max-width: 280px) {
    .header-display {
        font-size: 12px;
    }
}

.logo-container {
    position: absolute;
    left: 1px;
    height: 50px;
    display: flex;
    align-items: center;
}

.logo-image {
    height: 100%;
    width: auto;
    object-fit: contain;
}

@media (max-width: 900px) {
    .logo-image {
        margin-left: 0px;
    }
}

@media (max-width: 325px) {
    .logo-image {
        height: 80%;
    }
}

@media (max-width: 325px) {
    .logo-image {
        height: 70%;
    }
}

.navbar-nav li.nav-item {
    margin-left: auto;
    padding-right: 8px;
    font-weight: bold;
}

.image-background {
    position: relative;
    background-image: url('../../../../media/welcome-page-background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 110vh;
    margin: 0;
}

.welcome-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

.welcome-box-1 {
    text-align: center;
    border: 2px solid black;
    position: relative;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.website-title {
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
    font-size: 50px;
}

.website-subtitle {
    font-family: 'Cinzel', sans-serif;
    font-weight: 600;
}

.welcome-box-2 {
    text-align: center;
    padding-top: 40px;
    margin-top: 50px;
    border-top: 4px solid black;
}

/* CSS for the main recipes page */


.recipe-page-intro-sentence {
    background: url("../../../media/welcome-page-background.jpg") center/cover no-repeat;
    text-align: center;
    color: white;
    padding: 100px 0;
    height: 120vh;
}

@media (max-width: 325px) {
    .recipe-page-intro-sentence {
        padding-top: 20px;
    }
}

.intro-text {
    font-family: 'Lobster', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 10px auto;
    max-width: 80%;
    border-radius: 10px;
}

.intro-search-box {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 10px auto;
    max-width: 60%;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin-top: 5%;
}

@media (max-width: 500px) {
    .intro-search-box {
        max-width: 80%;
    }
}

.search-title {
    font-family: 'Cinzel', sans-serif;
}

@media (max-width: 500px) {
    .input-group input.form-control {
        font-size: 15px;
        padding: 5px;
    }
}

.modal-advanced-search-title {
    font-family: 'Cinzel', sans-serif;
    text-align: center;
    font-weight: 600;
    padding-bottom: 10px;
    color: black;
}

.modal-advanced-search-content {
    text-align: center;
    font-weight: 600;
    color: black;
    padding-top: 15px;
}

.advanced-search-modal-head {
    display: flex;
    padding: 20px;
    justify-content: flex-end;
}


.advanced-search-modal-button {
    margin-top: 30px;
    margin-bottom: 30px;
}


.recipes-continent-title-section {
    font-family: 'Cinzel', sans-serif;
    text-align: center;
    font-weight: 600;
}

.icon-legend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3px;
    font-size: 20px;
}

@media (max-width: 450px) {
    .icon-legend {
        font-size: 12px;
    }
}

@media (max-width: 280px) {
    .icon-legend {
        font-size: 10px;
    }
}

.vertical-line {
    margin: 0 20px;
    font-weight: bold;
    font-size: 20px;
}

@media (max-width: 350px) {
    .vertical-line {
        margin: 0 8px;
        font-weight: bold;
        font-size: 20px;
    }
}

@media (max-width: 280px) {
    .vertical-line {
        margin: 0 6px;
        font-weight: bold;
        font-size: 20px;
    }
}

.search-result-not-found {
    text-align: center;
    font-size: 25px;
}

@media (max-width: 700px) {
    .search-result-not-found {
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    .search-result-not-found {
        font-size: 15px;
    }
}

@media (max-width: 280px) {
    .search-result-not-found {
        font-size: 12px;
    }
}

.card-general-padding {
    padding: 20px;
    padding-bottom: 15px;
}

.card-bottom-padding {
    padding-bottom: 50px;
}

.card-text {
    color: black;
}

.card-title {
    font-family: 'Cinzel', sans-serif;
    font-weight: 600;
    background-color: rgb(255, 255, 255, 0.97);
    padding: 10px;
    color: black;
    border: solid 1px black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 450px) {
    .card-title {
        font-size: 13px;
        padding: 5px;
    }
}

@media (max-width: 280px) {
    .card-title {
        font-size: 10px;
        padding: 4px;
    }
}

.line-background {
    background: rgba(255, 255, 255, 0.97);
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: unset;
    border: solid 1px black;
    font-weight: bold;
}

@media (max-width: 450px) {
    .line-background {
        font-size: 13px;
        padding: 5px;
    }
}

@media (max-width: 350px) {
    .line-background {
        font-size: 9px;
        padding: 4px;
    }
}

.card-icons {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}


@media (max-width: 450px) {
    .card-icons {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 350px) {
    .card-icons {
        width: 10px;
        height: 10px;
    }
}

/* CSS for the detail recipe page */

.basic-recipe-info-section {
    padding-top: 80px;
}

@media (max-width: 1199px) {
    .basic-recipe-info-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.detailed-page-image {
    margin-bottom: 40px;
}

.detailed-recipe-titles {
    font-family: 'Cinzel', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}

@media (max-width: 1500px) {
    .detailed-recipe-titles {
        font-size: 35px;
    }
}

.recipe-icon-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-icon-text {
    font-size: 20px;
    background: rgba(255, 255, 255, 0.97);
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    border: solid 1px black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1500px) {
    .recipe-icon-text {
        font-size: 15px;
        padding: 5px;
    }
}

.detailed-page-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.detailed-page-section-bottom-margin {
    margin-bottom: 40px;
}

.detailed-page-share-icon {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.section-break-line {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: solid 1px black;
}

.detailed-page-text-content {
    font-size: 25px;
    padding-bottom: 20px;
    text-align: justify;
}

@media (max-width: 1199px) {
    .ingredients-instructions-section {
        justify-content: center;
    }
}

.ingredient-list-margin {
    margin-bottom: 10px;
}

.ingredient-fields {
    padding-right: 10px;
    font-weight: bold;
}

@media (max-width: 1199px) {
    .instructions-section {
        margin-top: 30px;
    }
}

.instruction-list-margin {
    margin-bottom: 10px;
}

.instruction-section-bottom-margin {
    margin-bottom: 10px;
}
