/* CSS for the welcome page */

.header-display {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}

@media (max-width: 325px) {
    .header-display {
        font-size: 13px;
    }
}

@media (max-width: 280px) {
    .header-display {
        font-size: 12px;
    }
}

.logo-container {
    position: absolute;
    left: 1px;
    height: 50px;
    display: flex;
    align-items: center;
}

.logo-image {
    height: 100%;
    width: auto;
    object-fit: contain;
}

@media (max-width: 900px) {
    .logo-image {
        margin-left: 0px;
    }
}

@media (max-width: 325px) {
    .logo-image {
        height: 80%;
    }
}

@media (max-width: 325px) {
    .logo-image {
        height: 70%;
    }
}

.navbar-nav li.nav-item {
    margin-left: auto;
    padding-right: 8px;
    font-weight: bold;
}

.image-background {
    position: relative;
    background-image: url('../../../../media/welcome-page-background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 110vh;
    margin: 0;
}

.welcome-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

.welcome-box-1 {
    text-align: center;
    border: 2px solid black;
    position: relative;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.website-title {
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
    font-size: 90px;
  }

.welcome-box-2 {
    text-align: center;
    padding-top: 40px;
    margin-top: 50px;
    border-top: 4px solid black;
}

.website-subtitle {
    font-family: 'Cinzel', sans-serif;
    font-weight: 600;
  }

  /* CSS for the main recipes page */


.recipe-page-intro-sentence {
    background: url("../../../media/welcome-page-background.jpg") center/cover no-repeat;
    text-align: center; 
    color: white; 
    padding: 100px 0; 
    height: 120vh; 
  }

  @media (max-width: 325px) {
    .recipe-page-intro-sentence {
        padding-top: 20px;
    }
}
  
  .intro-text {
    font-family: 'Lobster', sans-serif;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px; 
    margin: 10px auto; 
    max-width: 80%; 
    border-radius: 10px;
  }

  .intro-search-box {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px; 
    margin: 10px auto; 
    max-width: 80%; 
    border-radius: 10px;
    text-align: center; 
    color: white; 
    margin-top: 5%;
}

.search-title {
    font-family: 'Cinzel', sans-serif;
  }

.recipes-continent-title-section{
    font-family: 'Cinzel', sans-serif;
    text-align: center;
    font-weight: 600;
  }

.icon-legend {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-right: 3px;
    font-size: 20px;
  }

 @media (max-width: 450px) {
    .icon-legend {
        font-size: 12px;
    }
}

@media (max-width: 280px) {
    .icon-legend {
        font-size: 10px;
    }
}

.vertical-line {
    margin: 0 20px; 
    font-weight: bold;
    font-size: 20px;
}

@media (max-width: 350px) {
    .vertical-line {
        margin: 0 8px; 
        font-weight: bold;
        font-size: 20px;
    }
}

@media (max-width: 280px) {
    .vertical-line {
        margin: 0 6px; 
        font-weight: bold;
        font-size: 20px;
    }
}

.card-padding {
    padding: 20px;
  }

.card-text {
    color: black;
  }

.card-title {
    font-family: 'Cinzel', sans-serif;
    font-weight: 600;
    background-color: rgb(255, 255, 255, 0.97); 
    padding: 10px;
    color: black;
    border: solid 1px black;
    border-radius: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  @media (max-width: 400px) {
    .card-title {
        font-size: 13px;
        padding: 5px;
      }
}

@media (max-width: 280px) {
    .card-title {
        font-size: 11px;
        padding: 5px;
      }
}

.line-background {
    background: rgba(255, 255, 255, 0.97); 
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px; 
    display: inline-block;
    margin-bottom: unset;
    border: solid 1px black;
    font-weight: bold;
}

@media (max-width: 400px) {
    .line-background {
        font-size: 10px;
        padding: 5px;
      }
}

@media (max-width: 280px) {
    .line-background {
        font-size: 9px;
        padding: 3px;
      }
}

